.features{
    background-color: var(--second-bg-color);
    padding: 40px 0;
    color: var(--main-color);
}

.features_list {
display: flex;
gap: 30px;
justify-content: space-between;
}

.features_items {
    flex-basis: 236px;
    padding-top: 115px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.04em;
}